{% extends "layout.html" %}

{% block main %}

    <div class="cont-body home">
        <div>
            <h1>Get the best products from the best local producers!</h1>
        </div>
        <div class="card">
            <h4>Browse our offers!</h4>
            <a class="btn-primary" href="/local-stores">Local stores <i class="bi bi-arrow-right-short"></i></a>
        </div>
    </div>
    <div class="divider">
        <h3>How does it work?</h3>
        <div>
            <div>
                <p class="circle">1</p>
                <h3>Producers</h3>
            </div>
            <p>We first contact local producers to arrange with them which products will we offer and the price of them.</p>
        </div>
        <div>
            <div>
                <p class="circle">2</p>
                <h3>Customers</h3>
            </div>
            <p>We upload the offer and start receiving orders until the deadline is met or we reach the maximum orders.</p>
        </div>
        <div>
            <div>
                <p class="circle">3</p>
                <h3>Shipping</h3>
            </div>
            <p>Finally every customer is contacted to finish their payment and choose the desired shipping method.</p>
        </div>
    </div>

{% endblock %}