{% extends "layout-menuless.html" %}

{% block title %}
    Create account
{% endblock %}

{% block main %}

    <div class="cont-body">
        <div class="card log">
            <form action="/register" method="post">
                <h1>Create account</h1>
                <div>
                    <label class="sub" for="username">Username</label>
                    <input id="username" type="text" class="inp" name="username">
                </div>
                <div>
                    <label class="sub" for="password">Password</label>
                    <input id="password" type="password" class="inp" name="password">
                </div>
                <div>
                    <label class="sub" for="confirmation">Repeat password</label>
                    <input id="confirmation" type="password" class="inp" name="confirmation">
                </div>
                <div>
                    <label class="sub" for="email">Email</label>
                    <input id="email" type="text" class="inp" name="email">
                </div>
                <button class="btn-primary" type="submit">Create account</button>
            </form>
        </div>
    </div>

{% endblock %}