{% extends "layout.html" %}

{% block title %}
    Work in progress
{% endblock %}

{% block main %}

    <div class="cont-body bg">
        <div>
            <h1>We are still working on this section</h1>
        </div>
        <div style="display: flex; padding: 1rem; flex-direction: column; background: white; gap: 1.5rem;">
            <div>
                <p>We're sorry, our site is still in development.</p>
            </div>
            <div>
                <a class="btn-primary full" href="/">Go to Home</a>
            </div>
        </div>
    </div>

{% endblock %}