{% extends "layout.html" %}

{% block title %}
    compra realizada
{% endblock %}

{% block main %}

    <div class="cont-body prod">
        <div>
            <h1>¡Muchas gracias por la reserva!</h1>
        </div>
        <div>
            <p>Pronto recibirás un email con los detalles de la reserva y la toda la información para realizar el pago.</p>
        </div>
            <p>Ante cualquier duda contactanos a hola@vinbox.com</p>
        <div>
            <a class="btn-primary" href="/">Volver al inicio</a>
        </div>
    </div>

{% endblock %}